


@import "./colors.scss";
nav{
    display: flex;
    // border: 1px solid red;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
    color: $black-text;
    &.dark{
        color: $white;
    }
    .menuBtn{
        display: none;
    }
    .logo{
        width:100px;
    }
    .navs{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        list-style: none;
        .navLinks{
            
            cursor: pointer;
            font-size: 17px;
            font-weight: 500;
            
        }
        .navLinks:hover{
            color: $tomato-color;
            transition: 0.3s ease-in;
           
        }
        
    }
    .rightNavs{
        display: flex;
        gap: 30px;
        align-items: center;
        
    }
    .srch-cart-icon{
        color: $black-text;
        display: flex;
        gap: 20px;
        align-items: center;
        cursor: pointer;
        &.dark{
            color: $white;
        }
    }
    .loginBtn{
        padding: 8px 20px;
        border: 1px solid $tomato-color;
        background-color: transparent;
        border-radius: 5px;
        color: $tomato-color;
        transition: 0.3s ease-in;
        cursor: pointer;
    }
    .loginBtn:hover{
        background-color: $tomato-color;
        color: $white;
        box-shadow: 1px 1px 10px $tomato-color;
    }
}


@media (max-width:600px){
    body{
        background-color: red;
    }
    .loginBtn{
        display: none;
    }
    .navs{
        .navLinks{
            display: none;
        }
    }
    nav {
        padding: 0px 10px;
    }
    .search{
        display: none !important;
    }
    .rightPart{
        display: none;
    }
    
    .hero-container {
       
         padding: 0 0px !important; 
       
    }
    .main-container { 
        width: 100% !important;
    }
    .leftPart {
        width:95% !important;
        gap: 12px !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .leftPart div {
       
        margin-left: 0px !important;
    }
}