nav{
    display: flex;
    border: 1px solid red;
    height: 90px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
}
.loginBtn{
    padding: 8px 20px;
    border: 1px solid tomato;
   
}
.navs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
}